In [1]:
import pandas as pd
import numpy as np
import os
from pprint import pprint

In [2]:
path_to_raw_data = os.path.join('..', 'raw_data')
print(path_to_raw_data)

../raw_data

In [3]:
list_of_files = sorted(os.listdir(path_to_raw_data))
pprint(list_of_files)

['defm_par_epci_en_dec_2017.xlsx',
 'defm_par_epci_en_decembre 2018.xlsx',
 'defm_par_epci_en_decembre_2016.xlsx',
 'defm_par_epci_en_decembre_2019.xlsx']

In [4]:
df = pd.read_excel(
    os.path.join(path_to_raw_data, list_of_files[0]),
    sheet_name='par ancienneté',
    skiprows=3,
    skipfooter=2,
    engine='openpyxl'
)

df = df.iloc[:, :8]

df.columns = [
    'lib_epci',
    'anc_moins_3_mois',
    'anc_3_a_5_mois',
    'anc_6_a_11_mois',
    'anc_12_a_23_mois',
    'anc_24_a_35_mois',
    'anc_plus_36_mois',
    'total'
]

In [5]:
df.head()

,lib_epci,anc_moins_3_mois,anc_3_a_5_mois,anc_6_a_11_mois,anc_12_a_23_mois,anc_24_a_35_mois,anc_plus_36_mois,total
0,Bordeaux Métropole,18116,14576,14914,16314,7010,11046,81976
1,Brest Métropole,4065,3234,3109,3610,1753,2956,18727
2,CA Agglo Pays d'Issoire,970,739,848,1054,466,882,4959
3,CA Agglo du Pays de Dreux,2228,1666,2035,2249,1091,1955,11224
4,CA Agglomération du Choletais,1728,1412,1561,1764,856,1558,8879

In [6]:
df.tail()

,lib_epci,anc_moins_3_mois,anc_3_a_5_mois,anc_6_a_11_mois,anc_12_a_23_mois,anc_24_a_35_mois,anc_plus_36_mois,total
1257,Métropole du Grand Paris,128772,98398,115175,124689,53495,105083,625612
1258,Nantes Métropole,12867,10585,11024,12072,5505,9331,61384
1259,Rennes Métropole,8388,7070,6767,7335,3457,5400,38417
1260,Toulouse Métropole,19174,14601,15145,16244,6886,11378,83428
1261,Hors EPCI,2847,2045,2576,5313,2529,5075,20385

In [7]:
df.to_csv(
    os.path.join(
        '..',
        'clean_data',
        'anciennete',
        '2017.csv'
    ),
    index=False
)

In [8]:
df = pd.read_excel(
    os.path.join(path_to_raw_data, list_of_files[1]),
    sheet_name='par ancienneté',
    skiprows=3,
    skipfooter=2,
    engine='openpyxl'
)

df.columns = [
    'code_epci',
    'lib_epci',
    'anc_moins_3_mois',
    'anc_3_a_5_mois',
    'anc_6_a_11_mois',
    'anc_12_a_23_mois',
    'anc_24_a_35_mois',
    'anc_plus_36_mois',
    'total'
]

df.head()

,code_epci,lib_epci,anc_moins_3_mois,anc_3_a_5_mois,anc_6_a_11_mois,anc_12_a_23_mois,anc_24_a_35_mois,anc_plus_36_mois,total
0,243300316.0,Bordeaux Métropole,17137,13820,13778,16557,7651,11375,80318
1,242900314.0,Brest Métropole,3709,3215,3229,3771,1747,3039,18710
2,200066918.0,CA Alès Agglomération,2613,2202,2429,2985,1575,2746,14550
3,248000531.0,CA Amiens Métropole,3741,3105,3293,4338,2074,3663,20214
4,200011773.0,CA Annemasse-les Voirons-Agglomération,2166,1453,1717,1921,790,841,8888

In [9]:
df.tail()

,code_epci,lib_epci,anc_moins_3_mois,anc_3_a_5_mois,anc_6_a_11_mois,anc_12_a_23_mois,anc_24_a_35_mois,anc_plus_36_mois,total
1256,244200770.0,Saint-Etienne Métropole,7827,6092,6456,8050,3981,6508,38914
1257,NaN,Sans objet,208,81,50,103,58,95,595
1258,243100518.0,Toulouse Métropole,18148,14409,14324,16779,7776,11516,82952
1259,243700754.0,Tours Métropole Val de Loire,6000,5024,4829,6082,3047,4612,29594
1260,NaN,Hors EPCI,1592,1397,1599,2363,2301,4688,13940

In [10]:
df.to_csv(
    os.path.join(
        '..',
        'clean_data',
        'anciennete',
        '2018.csv'
    ),
    index=False
)

In [11]:
df = pd.read_excel(
    os.path.join(path_to_raw_data, list_of_files[2]),
    sheet_name='par ancienneté',
    skiprows=3,
    skipfooter=2,
    engine='openpyxl'
)
df.head()

,EPCI,MOINS DE 3 MOIS,DE 3 À 5 MOIS,DE 6 À 11 MOIS,DE 12 À 23 MOIS,DE 24 À 35 MOIS,A PARTIR DE 36 MOIS ET PLUS,"Total - Catégories A,B,C"
0,Bordeaux Métropole,17928,14431,13894,14854,6978,10256,78341
1,Brest Métropole,3981,3337,3153,3647,1883,2807,18808
2,CA Agglo Pays d'Issoire,997,769,793,890,493,818,4760
3,CA Agglo du Pays de Dreux,2136,1740,1967,2240,1114,1987,11184
4,CA Agglomération du Choletais,1786,1457,1424,1695,899,1467,8728

In [12]:
df.columns = [
    'lib_epci',
    'anc_moins_3_mois',
    'anc_3_a_5_mois',
    'anc_6_a_11_mois',
    'anc_12_a_23_mois',
    'anc_24_a_35_mois',
    'anc_plus_36_mois',
    'total'
]

In [13]:
df.tail()

,lib_epci,anc_moins_3_mois,anc_3_a_5_mois,anc_6_a_11_mois,anc_12_a_23_mois,anc_24_a_35_mois,anc_plus_36_mois,total
1257,Métropole du Grand Paris,137109,99290,105591,112209,52868,102938,610005
1258,Nantes Métropole,12887,10604,10332,11470,5609,8959,59861
1259,Rennes Métropole,8285,7012,6543,7308,3384,5179,37711
1260,Toulouse Métropole,20144,15134,14277,15253,7237,11556,83601
1261,Z. Communes hors EPCI,6287,5082,6768,9530,4956,8508,41131

In [14]:
df.loc[1261, 'lib_epci'] = 'Hors EPCI'

In [15]:
df.tail()

,lib_epci,anc_moins_3_mois,anc_3_a_5_mois,anc_6_a_11_mois,anc_12_a_23_mois,anc_24_a_35_mois,anc_plus_36_mois,total
1257,Métropole du Grand Paris,137109,99290,105591,112209,52868,102938,610005
1258,Nantes Métropole,12887,10604,10332,11470,5609,8959,59861
1259,Rennes Métropole,8285,7012,6543,7308,3384,5179,37711
1260,Toulouse Métropole,20144,15134,14277,15253,7237,11556,83601
1261,Hors EPCI,6287,5082,6768,9530,4956,8508,41131

In [16]:
df.to_csv(
    os.path.join(
        '..',
        'clean_data',
        'anciennete',
        '2016.csv'
    ),
    index=False
)

In [17]:
df = pd.read_excel(
    os.path.join(path_to_raw_data, list_of_files[3]),
    sheet_name='par ancienneté',
    skiprows=3,
    skipfooter=32,
    engine='openpyxl'
)

df = df.iloc[:, :9]

df.head()

,Code EPCI,Libellé EPCI,MOINS DE 3 MOIS,DE 3 À 5 MOIS,DE 6 À 11 MOIS,DE 12 À 23 MOIS,DE 24 À 35 MOIS,A PARTIR DE 36 MOIS ET PLUS,"Total - Catégories A,B,C"
0,200000172.0,CC Faucigny-Glières,465,334,389,412,201,241,2042
1,200000438.0,CC du Pays de Pontchâteau Saint-Gildas-des-Bois,521,429,420,550,304,490,2714
2,200000545.0,CC des Portes de Romilly-sur-Seine,485,376,348,456,206,396,2267
3,200000628.0,CC Rhône Lez Provence,508,400,493,591,281,483,2756
4,200000800.0,CC Coeur de Sologne,123,112,108,157,82,140,722

In [18]:
df.columns = [
    'code_epci',
    'lib_epci',
    'anc_moins_3_mois',
    'anc_3_a_5_mois',
    'anc_6_a_11_mois',
    'anc_12_a_23_mois',
    'anc_24_a_35_mois',
    'anc_plus_36_mois',
    'total'
]

In [19]:
df.tail()

,code_epci,lib_epci,anc_moins_3_mois,anc_3_a_5_mois,anc_6_a_11_mois,anc_12_a_23_mois,anc_24_a_35_mois,anc_plus_36_mois,total
1251,249740085.0,CA du Sud,3293,2972,3718,4984,3415,8137,26519
1252,249740093.0,CA Intercommunale de la Réunion Est (CIREST),3323,2749,3313,4311,2578,5363,21637
1253,249740101.0,CA Territoire de la Côte Ouest (TCO),5506,5250,6293,7823,4809,11828,41509
1254,249740119.0,CA Intercommunale du Nord de la Réunion (CINOR),5143,4726,4976,7063,4375,8121,34404
1255,NaN,Hors EPCI,1340,822,782,813,383,1382,5522

In [20]:
df.to_csv(
    os.path.join(
        '..',
        'clean_data',
        'anciennete',
        '2019.csv'
    ),
    index=False
)